*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc

*.env.overrides

log/*.log
.rspec
.DS_Store
database.yml

public/app.js
public/app.js.map
node_modules
bower_components